.logical{
    display: flex;
    gap: 16px;
}

.logical img{
    width: 20px;
height: 20px;
flex-shrink: 0;
}

.logical p{
    color: #7D8FB3;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 200% */
}

.logical p:hover{
    color: #FF9F43;
    cursor: pointer;
    font-size: 16px;
}