.student_profile_hero_main_container {
  display: flex;
  gap: 30px;

  .profile_hero {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // gap: 20px;

    .parts{

    width: 1176px;
    height: 100vh;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #f8f8f8;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;

    }
    
  }
}
